---
layout: default
title: Project
permalink: "/project/"
---

 <section class="row">
        <div class="col-md-16">
          <div class="row">
            {% for post in paginator.posts %}
            {% unless post.featured == true %}
            <div class="col-md-6 mb-5">
              {% include postbox.html %}
            </div>
            {% endunless %}
            {% endfor %}
          </div>
          <!-- Pagination -->
          <div class="bottompagination">
            <span class="navigation" role="navigation">
                {% include pagination.html %}
            </span>
          </div>
        </div>
      
</section>
